@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}
th {
  border: 2px solid #dee2e6;
}
th:first-child {
  border: none;
}

td {
  padding: 8px;
  border: 2px solid #dee2e6;
}
td:first-child {
  text-align: justify;
  min-width: 228px;
}

tr {
  height: 32px;
}

.price {
  color: #fff;
  font-size: 25px;
}
.plan {
  border: transparent;
  cursor: pointer;
  padding: 10px;
  width: 170px;
  color: #fff;
}
.plan:active {
  font-size: 13px;
}

/* CORES */

.lightBlue {
  border-color: #71acd9;
  background-color: #7ebff2;
}
.blue {
  border-color: #4478d4;
  background-color: #4a87ec;
}
.purple {
  border-color: #6365d4;
  background-color: #7073ec;
}
